/* custom.css */

.label { 
    font-family:"Open Sans", verdana, arial, sans-serif;
    text-align: center;
    font-size: 240%;
    color: #9C97C3;
    font-weight: normal;
}

.charts {
    margin-top: 10px;
    min-width: 320px;
    padding-top: 10px;
    height: auto !important; 
    
}

.dash-graph {
  width: 100% !important;
  height: auto !important;
}

.pad {
    font-size: 150%;
    margin-top: 0.5%;
    padding-left: 1.5%;
    padding-right: 0.5%;

}

#payload-slider .rc-slider-mark-text {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px
}

.footer {
    font-family: "Open Sans", verdana, arial, sans-serif;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 80%;
    color: #828282;
    font-weight: normal;
}

.js-plotly-plot .hoverlayer .hovertext text {
    font-size: 0.8vw !important;             
}

@media (max-width: 623px) {
    .label { 
        font-size: 190% !important;
    }
    
    .js-plotly-plot .hoverlayer .hovertext text {
        font-size: 120% !important;             
    }
    
    .js-plotly-plot .legendtext {
        font-size: 2.5vw !important;
        padding-right: 200%;
    }
    
}
